{% extends 'todoapp/layout.html' %}

{% block content %}

  <br>
  <br>
  <br>


  <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <form style="width: 22rem;" method="post">
          {% csrf_token %}
          <!-- Username input -->
          <div class="form-outline mb-4">
            <input type="text" id="form2Example1" name="username" class="form-control">
            <label class="form-label" for="form2Example1" style="margin-left: 0px;">Логин</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="form2Example2" name="email" class="form-control">
            <label class="form-label" for="form2Example2" style="margin-left: 0px;">Почта</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>


          <!-- Password1 input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example3" name="password1" class="form-control">
            <label class="form-label" for="form2Example3" style="margin-left: 0px;">Пароль</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Password2 input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example4" name="password2" class="form-control">
            <label class="form-label" for="form2Example4" style="margin-left: 0px;">Повтор пароля</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>


          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                <label class="form-check-label" for="form2Example31"> Запомнить пароль </label>
              </div>
            </div>

          </div>

          {{ form.errors }}

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Регистрация</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}?next=/profile/">Войти</a></p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
  </section>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
></script>

{% endblock %}
